/* =====================================================
   1. PAGE
   브라우저 기본 여백 제거
   ===================================================== */

html,
body {
  margin: 0;
  padding: 0;
}


/* =====================================================
   2. CANVAS
   캔버스 표시 방식
   ===================================================== */

canvas {
  display: block;
}